<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Users</title>
</head>
<body>
<div th:switch="${users}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Users</h2>
    <table border="2">
      <thead>
      <tr>
        <th>Id</th>
        <th>Login</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>E-mail</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<h8><a href="/admin/user-create">Create user</a></h8><br>
<h8><a th:href="@{/hello}">Go back</a></h8><br>
<sec:authorize access="isAuthenticated()">
  <h8><a th:href="@{/logout}">Log out</a></h8>
</sec:authorize>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>