<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <header class="bd-header bg-dark py-1 d-flex align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <div class="container alight-items-left">
                <b>
                    <text th:text="${current_user.login}" class="text-white fw-bolder"></text>
                </b>
                <text class="text-white">with roles</text>
                <text th:text="${current_user.getStringRoles()}" class="text-white"></text>
            </div>


            <div class="container align-items-right"></div>
            <a href="/logout" class="text-secondary align-items-right" hreflang="ar">Logout</a>
        </div>
        </div>
    </header>


    <title>Users</title>
</head>
<body>

<div class="row">

    <!--боковая панель-->
    <div class="col-2">
        <div class="d-flex flex-column flex-shrink-0 p-10 bg-light">
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link link-dark" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home"></use>
                        </svg>
                        Admin
                    </a>
                </li>
                <li>
                    <a href="/user" class="nav-link active">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        User
                    </a>

            </ul>
            <hr>
        </div>
    </div>
    <!--конец боковой панели-->

    <div class="col-10">
        <div class="col-9">
            <h2 class="text-left">User information-page</h2>
            <div class="card text-center">

                <div class="card-body">

                    <div class="card-body">
                        <!--начало таблицы-->
                        <div class="container-fluid">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>E-mail</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${current_user}">
                                    <td th:text="${current_user.id}"></td>
                                    <td th:text="${current_user.login}"></td>
                                    <td th:text="${current_user.name}"></td>
                                    <td th:text="${current_user.surname}"></td>
                                    <td th:text="${current_user.age}"></td>
                                    <td th:text="${current_user.email}"></td>
                                    <td th:text="${current_user.getStringRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>

                        </div>

                        <!--конец таблицы-->
                    </div>

                    <sec:authorize access="isAuthenticated()">
                        <form action="/user/deleteAcc" th:href="@{/logout}" method="post">

                            <button class="btn btn-danger">Delete account</button>

                        </form>
                    </sec:authorize>


                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>

                    <!--конец таблицы-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>




<!--<div class="card-body">-->
<!--    &lt;!&ndash;начало таблицы&ndash;&gt;-->
<!--    <div class="container-fluid">-->
<!--        <table class="table table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Login</th>-->
<!--                <th>First name</th>-->
<!--                <th>Last name</th>-->
<!--                <th>Age</th>-->
<!--                <th>E-mail</th>-->
<!--                <th>Role</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:object="${current_user}">-->
<!--                <td th:text="${current_user.id}"></td>-->
<!--                <td th:text="${current_user.login}"></td>-->
<!--                <td th:text="${current_user.name}"></td>-->
<!--                <td th:text="${current_user.surname}"></td>-->
<!--                <td th:text="${current_user.age}"></td>-->
<!--                <td th:text="${current_user.email}"></td>-->
<!--                <td th:text="${current_user.getStringRoles()}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <br/>-->

<!--    </div>-->

<!--    &lt;!&ndash;конец таблицы&ndash;&gt;-->
<!--</div>-->

<!--<sec:authorize access="isAuthenticated()">-->
<!--    <form action="/user/deleteAcc" th:href="@{/logout}" method="post">-->

<!--        <button class="btn btn-danger">Delete account</button>-->

<!--    </form>-->
<!--</sec:authorize>-->